.header-container {
  text-align: center;
  color: white;
  //   background-color: rgba(0, 0, 0, 0.6);
}

.hide-header-container {
  text-align: center;
  color: white;
  opacity: 0.5;
}

.header-add-button {
  margin-right: 0.5rem;
  width: 10rem;
  &:hover {
    //
    background-color: black;
    color: white;
  }
}

.header-logout-button {
  width: 10rem;
  &:hover {
    background-color: gray;
    color: white;
  }
}

.header-action-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
