.header-container {
  text-align: center;
  color: white;
}

.header-add-button {
  margin-right: 0.5rem;
  width: 10rem;
  &:hover {
    border: 1px solid black;
  }
}
// .header-add-button:hover {
//   border: 1px solid black;
// }

.header-logout-button {
  width: 10rem;
  &:hover {
    border: 1px solid black;
  }
}
