.list-container {
  text-align: center;
}

.comment-container {
  display: flex;
  gap: 0.8rem;
}

.comment-icon {
  margin-top: 0.7rem;
  width: 2rem;
  height: 2rem;
}

.book-card {
  text-align: left;
  margin: 1rem auto;
  width: 60%;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: rgb(145, 140, 140);
}

.title-author-review {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.title-author {
  font-size: 1.2rem;
  font-weight: 600;
}

.list-action-buttons {
  text-align: center;
}

.list-action-buttons button {
  margin-right: 0.5rem;
  width: 10rem;
  &:hover {
    border: 1px solid black;
  }
}
