.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //   width: 100vw;
  //   height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  backdrop-filter: blur(5px);
  overflow-y: auto;
  //   padding-top: 1rem;
  z-index: 100;
}

.modalContainer {
  max-width: 31rem;
  background-color: rgb(173, 187, 218);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.4);
  position: relative;
  display: inline-block;
  text-align: center;
  //   margin-top: 2rem;
  z-index: 101;
  animation: slide-down 0.5s ease-out;
  max-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

@media screen and (min-width: 1700px) {
  //desktops screen has more top space
  .modalContainer {
    margin-top: 5rem;
  }
}

.modalContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}
/* Slide-down Animation */
@keyframes slide-down {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.closeButton {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
}

.closeButton:hover {
  background-color: #c2adad;
}

.closeButtonImage {
  width: 70%;
  border-radius: 50%;
  height: auto;
}

.title {
  margin-bottom: 1rem;
}

.body {
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-bottom: 1rem;
}

.submitButton .cancelButton {
  //   padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton {
  background-color: black;
  color: white;
  font-weight: 700;
}

.cancelButton {
  background-color: white;
  color: black;
}
