.modalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  //   background-color: white;
  //   background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: start;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.modalContainer {
  max-width: 31rem;
  //   background-color: #e0d0b8;
  background-color: #debfa5;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.4);
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 5rem;
  z-index: 101;
  animation: slide-down 0.5s ease-out;
}

/* Slide-down Animation */
@keyframes slide-down {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.title {
  margin-bottom: 1rem;
}

.body {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
}

.submitButton .cancelButton {
  //   padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton {
  background-color: black;
  color: white;
  font-weight: 700;
}

.cancelButton {
  background-color: white;
  color: black;
}
