.login-container {
  margin: 5rem;
}

form {
  display: grid;
  flex-direction: center;
  place-items: center;
}

input,
button {
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 12rem;
}

.login-submit-button,
.google-signin-button {
  background: black;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
