.hero-container {
  position: fixed;
  top: 0;
  left: 0;
  background: url("../../../src/assets/images/hero.jpg");
  min-height: 100vh;
  min-width: 1024px;
  width: 100%;
  height: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .hero-container {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

@media screen and (max-width: 600px) {
  .hero-container {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 12% auto;
  align-items: center;
  width: 20rem;
  background: rgba(247, 245, 245, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  padding-block: 0 1rem;
}

.login-form input,
button {
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 15rem;
}

.login-form input:hover {
  //   border: 1px solid white;
  cursor: pointer;
}
.google-signin-button {
  background: orange;
  width: 15rem;
  &:hover {
    background: darkorange;
    cursor: pointer;
  }
}

.register-submit-button {
  background: rgb(159, 160, 161);
  &:hover {
    background-color: #7066e0;
    color: white;
  }
}

.login-submit-button {
  background: rgb(68, 67, 67);
  color: white;
  &:hover {
    background: black;
  }
}
