.login-container {
  display: flex;
  flex-direction: column;
  margin: 7rem auto;
  align-items: center;
  width: 20rem;
}

.login-form input,
button {
  margin: 0.3rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 15rem;
}

.login-form input:hover {
  border: 1px solid black;
}

.login-submit-button {
  background: black;
  color: white;
}

.google-signin-button {
  background: orange;
  width: 15rem;
}
