// .add-container {
//   text-align: center;
// }

.add-form {
  input,
  textarea,
  select,
  button {
    margin: 0 auto;
    width: 20rem;
    margin-top: 0.2rem;
    &:hover {
      border: 3px solid #858383;
    }
  }
}

.rating-container {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    padding-bottom: 0.25rem;
    margin: 0.5rem;
    color: #5a5858;
  }
}
